
body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

h1 {
	font-size: 64px;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
   
}
p {
    font-size: 24px;
    padding-top: 15px;

}

img {
    clear: both;
    width: 550px;
    margin: auto;
    display: block;
}

#red {
    background-color: #FF0000;
    text-align: right;
}

#blue {
    background-color: #0000FF;
    text-align: left;
}

#yellow {
    background-color: #FFFF00;
    text-align: right;
    color: #000000;
    text-shadow: 4px 4px 2px #c7e2c7; 
}

#green {
    background-color: #008000;
    text-align: left;
}

.footer {
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
}